<div class="dark:bg-red-200">
  <%= render 'intro' %>
  <%= render 'contact-button' %>
  <%= render 'testimonials'  %>
  <%= render 'skills' %>
  <%= render 'projects' %>
  <%= render 'footer' %>
</div>
