<main class="mb-auto bg-white dark:bg-black animated fadeIn">
  <%= render 'intro' %>
  <%= render 'cta' %>
  <%= render 'testimonials'  %>
  <%= render 'skills' %>
  <%= render 'projects' %>
</main>
