<div class="px-4 py-3 text-xs font-bold leading-normal text-gray-600 uppercase bg-gray-200 rounded-t-lg">
  <% if current_page?(controller: 'projects', action: 'new') %>
    <h3>Create new project</h3>
  <% else %>
    <h3>Edit project</h3>
  <% end %>
</div>
<div class="px-6 py-3 space-y-3 bg-white rounded-b-lg shadow-md">
  <%= simple_form_for @project do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mt-1"><%= f.input :position, label_html: { class: 'block text-sm font-medium text-gray-600' }, input_html: { class: 'mt-1 focus:ring-gray-700 focus:border-gray-700 flex-1 block rounded-md w-full sm:text-sm border-gray-300', min: '0', step: '1' }  %>
    </div>
    <div class="mt-1"><%= f.input :title, label_html: { class: 'block text-sm font-medium text-gray-600' }, input_html: { class: 'mt-1 focus:ring-gray-700 focus:border-gray-700 flex-1 block rounded-md w-full sm:text-sm border-gray-300'} %>
    </div>

    <div class="mt-4"><%= f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, label_html: { class: 'block text-sm font-medium text-gray-600' }, input_html: { multiple: true, class: 'shadow-sm focus:ring-gray-700 focus:border-gray-700 mt-1 block w-full sm:text-sm border-gray-300 rounded-md' } %>
    </div>

    <div class="mt-4"><%= f.input :intro, label_html: { class: 'block text-sm font-medium text-gray-600' }, input_html: { class: 'shadow-sm focus:ring-gray-700 focus:border-gray-700 mt-1 block w-full sm:text-sm border-gray-300 rounded-md' } %>
    </div>

    <div class="mt-4"><%= f.rich_text_area :body, label_html: { class: 'block text-sm font-medium text-gray-600' }, input_html: { class: 'h-64 shadow-sm focus:ring-gray-700 focus:border-gray-700 mt-1 block w-full sm:text-sm border-gray-300 rounded-md' }, direct_upload: true %>
    </div>

    <div class="pt-2 pb-2 mt-3 text-right">
      <% unless current_page?(controller: 'projects', action: 'index') %>
        <%= link_to '<- Back', projects_path, class:"inline-flex justify-center py-2 px-4 mr-1 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
      <% end %>
      <%= f.submit nil, class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500' %>
    </div>
  <% end %>
</div>
