<div id="notice" class="flex items-center justify-center py-4 bg-gray-100">
  <%= render 'layouts/notice'  %>
</div>
<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <div class="max-w-5xl my-6">
    <div class="mb-6 overflow-hidden bg-white rounded-lg shadow-md">
      <table class="table-auto">
        <thead>
          <tr class="text-xs leading-normal text-gray-600 uppercase bg-gray-200">
            <th class="px-6 py-3 text-left">#</th>
            <th class="px-6 py-3 text-left">Title</th>
            <th class="px-6 py-3 text-left">Tags</th>
            <th class="px-6 py-3 text-left">Intro</th>
            <th class="px-6 py-3 text-left">Private ?</th>
            <th class="px-6 py-3 text-left">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="px-6 py-3 text-sm font-medium text-left text-gray-600 whitespace-nowrap"><%= project.position %></td>
              <td class="px-6 py-3 text-sm font-medium text-left text-gray-600 whitespace-nowrap"><%= project.title %></td>
              <td class="px-6 py-3 text-sm text-left text-gray-600 whitespace-nowrap"><%= project.tags.map(&:name).join(', ') %></td>
              <td class="px-6 py-3 text-sm text-left text-gray-600"><%= truncate(project.intro, length: 150) %></td>
              <td class="px-6 py-3 text-sm text-left text-gray-600 whitespace-nowrap"><%= project.private? ? 'Private' : 'Public' %></td>
              <td class="px-6 py-3 text-center">
                <div class="flex items-center justify-center text-sm text-gray-600 item-center">
                  <%= link_to project_slug_path(project) do %><i class="w-4 mr-2 transform fas fa-eye hover:text-gray-500 hover:scale-105"></i><% end %>
                  <%= link_to edit_project_path(project) do %><i class="w-4 mr-2 transform far fa-edit hover:text-gray-500 hover:scale-105"></i><% end %>
                  <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="w-4 mr-2 transform far fa-trash-alt hover:text-gray-500 hover:scale-105"></i><% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= link_to(new_project_path, class:"inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white items-center bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500") do %><i class="mr-1 fas fa-plus-square"></i>Create project<% end %>
      <%= link_to(root_path, class:"inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white items-center bg-gray-400 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 mx-1") do %><i class="mr-1 fas fa-home"></i>Home page<% end %>
      <%= link_to(destroy_user_session_path, method: :delete, class:"inline-flex justify-center items-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500") do %><i class="pr-1 fas fa-sign-out-alt"></i>Logout<% end %>
    </div>
  </div>
</div>
