<!DOCTYPE html>
<html class="dark" style="background: #111" lang="en">
  <head>
    <title>Manu Farez</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="From (re)designing & prototyping ideas, to end-to-end application development and marketing-related consultations, I bring projects to life or make them run smoother through occasional creative epiphanies, programming magic and lots of elbow grease.">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <!---->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Work+Sans:wght@300;600&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col min-h-screen bg-white dark:bg-black" id="<%= request.path.starts_with?('/projects') ? '' : 'bg' %>">
    <%= render 'layouts/header' if @full_layout %>
    <%= yield %>
    <%= render 'layouts/footer' if @full_layout %>
  </body>
</html>
